# Ignore Dependencies (Too heavy, we re-install them on the server)
node_modules/
server/node_modules/
Thumbs.db
.fleet/
*.kate-swp
# Ignore Secrets (CRITICAL SECURITY)
.env
server/.env
*.env

.DS_Store
Thumbs.db

# Build artifacts (optional – regenerate with npm run build)
# css/styles.css